@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer utilities{
    .font-inter{
        font-family: "Inter",sans-serif;
    }
}
section{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.hero{
    background-image: url(/assets/hero-bg.png);
    background-image: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.hero .mic{
    background-image: url(/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.headerContainer button, .hero .heroButtons .spotify{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

@media screen and (max-width: 576px){
    .headerContainer{
        justify-content: space-between;
        margin: 1.25rem 0;
        padding: 0 1.25rem;
    }
    .headerContainer .headerButton, 
    .headerContainer .navItems{
        display: none;
    }
    .headerContainer 
    .hamburger{
        display: block;
    }
   .headerContainer .brand img{
    width: 60%;
    }
}