@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer utilities{
    .font-inter{
        font-family: "Inter",sans-serif;
    }
}
section{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.hero{
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.hero .mic{
    background-image: url(/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero .mic .newBadge {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}
.headerContainer button, .hero .heroButtons .spotify{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
.about hr{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    opacity: 20%;
}
.ratingInfo .ratings{
    text-align: center;
}
.ratingInfo .ratings h4{
    font-size: 48px;
    font-weight: bolder;
    color: #00FF88;
}
.ratingInfo .ratings p{
    text-transform: uppercase;
    opacity: 80%;
    font-size: 16px;
}
.featureCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cards {
    background-color: #2a0f4d;
    border-radius: 30px;
    padding: 30px;
}

.cardTall {
    grid-row: span 2;
}

.cardWide {
    grid-column: span 2;
}

.innerCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.cards p{
    opacity: 60%;
}

@media screen and (max-width: 576px){
    .headerContainer{
        justify-content: space-between;
        margin: 1.25rem 0;
        padding: 0 2rem;
    }
    .headerContainer .headerButton, 
    .headerContainer .navItems{
        display: none;
    }
    .headerContainer .hamburger,
    .heroInfos p br{
        display: block;
    }
   .headerContainer .brand img{
    width: 60%;
    }
    .hero{
        padding: 40px 20px 40px 20px;
        background-size: contain;
        background-position: center center;
    }
    .hero .mic {
         width: 12.5rem;
         height: 12.5rem;
         background-size: contain;
         background-position: center;

        }
    .hero .mic img {
        width: 30%;
    }
    .hero .heroTitle{
        font-size: 2.5rem;
    }
    
    .hero .mic .newBadge{
        top:15px;
        font-size: small;
    }
    .about{
        padding: 40px 20px;
    }
    .about .ratingInfo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }
    .ratingInfo{
        gap: 40px;
    }
    .aboutHolder p br{
        display: none;
    }
    .oneLineInfo{
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .whyChoose{
        padding: 40px 20px;
    }
    .whyChooseFeatures h3{
        font-size: 32px;
    }
    .whyChoose .featureCards{
        display: flex;
        flex-direction: column;
    }
}