@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer utilities{
    .font-inter{
        font-family: "Inter",sans-serif;
    }
}


.headerContainer button{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

@media screen and (max-width: 576px){
    .headerContainer{
        justify-content: space-between;
        padding: 0 2rem;
    }
    .headerContainer .headerButton, 
    .headerContainer .navItems{
        display: none;
    }
    .headerContainer 
    .hamburger{
        display: block;
    }
   .headerContainer .brand img{
    width: 60%;
    }
}